---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Daniel's corner" >
	<h1>Hello World!</h1>

	<p>Já jsem Daniel Frantes. Jsem nadšený programátor, hráč šachu a běžec. A toto je moje osobí stránka a blog, kde budu zaznamenávat
		zajímavé věci. Doufám, že se vám zde bude líbit, a že se zde budete pravidelně vracet. </p>

<p>PS. Stránka je ve výstavbě.</p>
	
</Layout>
